<div class="row">
  <div class="col-4 ">
    <h3>Current user permissions</h3>
    <table class="table table-bordered mt-5">
      <thead>
        <tr>
          <th scope="col">UserId</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">User Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
      <td>Test</td>
      <!-- <tr *ngFor="let item of users">
      </tr> -->
      </tbody>
    </table>
  </div>
  <div class="col-3 offset-1">
    <button class="btn btn-primary">Dodaj</button>
    <button class="btn btn-primary">Obrisi</button>
  </div>
  <div class="col-4">
    <h3>Available permissions</h3>
    <table class="table table-bordered mt-5">
      <thead>
        <tr>
          <th scope="col">UserId</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">User Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
      <td>Test</td>
      <!-- <tr *ngFor="let item of users">
        <th>{{item.userId}}</th>
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.userName}}</td>
        <td>{{item.email}}</td> -->
      <!-- </tr> -->
      </tbody>
    </table>
  </div>
</div>
